*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex; 
    width: 100vw; 
    justify-content: space-between; 
    padding-left: 5vw; 
    padding-right: 5vw; 
    padding-top: 1vw; 
    align-items: center;
}

.logo{
    width: 20vw; 
    height: auto;
    z-index: 10;
}

.menu{
    display: flex; 
    width: 40vw; 
    justify-content: space-between; 
    align-items: center;
    color: white;
}

.page-btn{
    position: relative;
    height: 4vw;
    padding: 0;
    vertical-align: center;
}

    .page-btn .topBor{
        width: 0%;
        border: none;
        border-top: solid rgb(150, 255, 255) 3px;
        box-shadow: 0px 0px 2px 0px rgb(150, 255, 255);
        margin-bottom: 0.5vw;
    }
    
    .page-btn .bottomBor{
        width: 0%;
        border: none;
        float: right;
        border-top: solid rgb(150, 255, 255) 3px;
        box-shadow: 0px 0px 2px 0px rgb(150, 255, 255);
        margin-top: 0.5vw;
    }

    .page-btn a{
        position: relative;
        font-size: 1.5vw;;
        color: white;
        text-decoration: none;
        z-index: 3;
        font-weight: bold !important;
        font-family: 'Luckiest Guy', cursive;
    }

    .page-btn:hover>a{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: cyan;
    }

    .page-btn:hover>.topBor{
        width: 100%;
        animation-name: btn-animate;
        animation-duration: 0.5s;
        animation-fill-mode: initial;
    }

    .page-btn:hover>.bottomBor{
        width: 100%;
        animation-name: btn-animate;
        animation-duration: 0.5s;
        animation-fill-mode: initial;
    }

    @keyframes btn-animate{
        0%{
            width: 0;
        }
        100%{
            width: 100%;
        }
    }

    #preloader {
        position: fixed;   
        top: 0;     
        left: 0;      
        right: 0;      
        bottom: 0;      
        overflow: hidden;      
        background-color: black;      
        z-index: 999;         
        text-align: center;    
        opacity: 1;    
        transition: 0.5s linear;   
      }
    #preloader img:nth-child(1){
        width: 20vw;
        height: auto;
        margin-top: 10vw;
        margin-bottom: 0;
    }
    #preloader img:nth-child(3){
        width: 5vw;
        height: auto;
        margin-top: 0;
    }


    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');